<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henrybk.system.mapper.SysUserRoleMapper">


    <select id="getSysUserByRoleId" resultType="com.henrybk.vo.vo.sys.SysUserVo">
        SELECT
            a.id,a.username,a.name,a.nick_name,a.dept_id,c.name as dept_name,a.post_id,
            d.name as post_name,a.email,a.phone,a.status,case a.status when 0 then '停用' else '正常' end as status_name
        FROM sys_user a
            INNER JOIN sys_user_role b ON b.user_id = a.id AND b.is_deleted = 0
            LEFT JOIN sys_dept c ON c.id = a.dept_id AND c.is_deleted = 0
            LEFT JOIN sys_post d ON d.id = a.post_id AND d.is_deleted = 0
        WHERE b.role_id = #{roleId} AND a.is_deleted = 0
        <if test="sysUserQueryVo != null and sysUserQueryVo.keyword != null">
            AND (
                a.username like concat('%',#{sysUserQueryVo.keyword},'%')
                or a.name like concat('%',#{sysUserQueryVo.keyword},'%')
                or a.nick_name like concat('%',#{sysUserQueryVo.keyword},'%')
            )
        </if>
        <if test="sysUserQueryVo != null and sysUserQueryVo.deptId != null">
            AND c.id = #{sysUserQueryVo.deptId}
        </if>
        <if test="sysUserQueryVo != null and sysUserQueryVo.postId != null">
            AND d.id = #{sysUserQueryVo.postId}
        </if>
    </select>


    <select id="getOtherSysUserByRoleId" resultType="com.henrybk.vo.vo.sys.SysUserVo">
        SELECT
            a.id,a.username,a.NAME,a.nick_name,a.dept_id,c.NAME AS dept_name,a.post_id,
            d.NAME AS post_name,a.email,a.phone,a.STATUS,CASE a.STATUS WHEN 0 THEN '停用' ELSE '正常' END AS status_name
        FROM sys_user a
        LEFT JOIN sys_dept c ON c.id = a.dept_id AND c.is_deleted = 0
        LEFT JOIN sys_post d ON d.id = a.post_id AND d.is_deleted = 0
        WHERE a.id NOT IN(SELECT user_id FROM sys_user_role WHERE role_id = #{roleId}) AND a.is_deleted = 0
        <if test="sysUserQueryVo != null and sysUserQueryVo.keyword != null">
            AND (
            a.username like concat('%',#{sysUserQueryVo.keyword},'%')
            or a.name like concat('%',#{sysUserQueryVo.keyword},'%')
            or a.nick_name like concat('%',#{sysUserQueryVo.keyword},'%')
            )
        </if>
        <if test="sysUserQueryVo != null and sysUserQueryVo.deptId != null">
            AND c.id = #{sysUserQueryVo.deptId}
        </if>
        <if test="sysUserQueryVo != null and sysUserQueryVo.postId != null">
            AND d.id = #{sysUserQueryVo.postId}
        </if>
    </select>
</mapper>
